<p>
  cursos works!
</p>
<curso-detalhe    (mudouValor)="onMudouValor($event)"
 testePropriedade=" Nova propriedade"></curso-detalhe>

<select #classe (change)="0">
  <option value="alert-success">sucesso </option>
  <option value="alert-info">info </option>
  <option value="alert-warning">alerta </option>
  <option value="alert-danger">danger </option>
</select>
<hr>
<br>
<div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'" >sucesso </div>
<div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'" >info </div>
<div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'" >alerta </div>
<div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger' " >danger </div>

<div class="alert {{ classe.value }}" role="alert">Texto colorido e sem estresse</div>
<div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block':'none' " >Só com erro</div>

<button (click)="botaoClicado()"
class="btn btn-primary">
  Me clique!
</button>
<input type="text"
(keyup)="onKeyUp($event)"
#campoInput />
