<p>
  cursos works!
</p>

<curso-detalhe    (mudouValor)="onMudouValor($event)"
 testePropriedade=" Nova propriedade"></curso-detalhe>

 <div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <p *ngFor="let content of fillerContent">{{content}}</p>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>


  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
<!--

<select #classe (change)="0">
  <option value="alert-success">sucesso </option>
  <option value="alert-info">info </option>
  <option value="alert-warning">alerta </option>
  <option value="alert-danger">danger </option>
</select>
<hr>
<br>
<div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'" >sucesso </div>
<div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'" >info </div>
<div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'" >alerta </div>
<div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger' " >danger </div>

<div class="alert {{ classe.value }}" role="alert">Texto colorido e sem estresse</div>
<div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block':'none' " >Só com erro</div>

<button (click)="botaoClicado()"
class="btn btn-primary">
  Me clique!
</button>
<input type="text"
(keyup)="onKeyUp($event)"
#campoInput />
 -->
