<nav>
  <div class="nav-wrapper">
    <a
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      class="brand-logo right"
      >Logo</a
    >
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"
          >Login</a
        >
      </li>
      <li>
        <a [routerLink]="['/cursos']" routerLinkActive="router-link-active"
          >Cursos</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container"><router-outlet></router-outlet></div>
