<nav>
  <div class="nav-wrapper">
    <a
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      class="brand-logo right"
      >Logo</a
    >
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"
          >Login</a
        >
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/cursos']" [queryParams]="{pagina:1}" routerLinkActive="router-link-active"
          >Cursos</a
        >
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['curso', idCurso1?.value]" routerLinkActive="router-link-active"
          >Curso com id</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <p>Entre com o ID do curso {{ idCurso }}</p>

  <div class="row">
    <div class="input-field col s6">
      <input #idCurso1
        [(ngModel)]="idCurso"
        id="first_name2"
        type="text"
        class="validate"
      />
      <label class="active" for="first_name2">Id do curso</label>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
